body {
    font-size: 24px;
}

#slider_div {

}

.control_container {
    margin-top: 5px;
    margin-bottom: 5px;
    position: fixed;
    z-index: 1000;  /* needs to be larger than the values used in leaflet */
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    min-width: 200px;
}

.control_container_header {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

.scene_label {
    margin-left: 20px;
}

/*
img {
    border: 1px solid black;
    padding: 3px;
    margin: 3px;
}
*/


fieldset {
    border-radius: 5px;
}

.legend {
    vertical-align:middle;
}

td {
    text-align: left;
}

th, td {
   padding: 10px;
}

#legend_controls {
    max-height: 600px;
    overflow: scroll;
}

#tooltip {
    background-color: white;
    border: 15px;
}

.info_table * {
    border: 1px solid black;
    border-collapse: collapse;
}

.info_table {
    overflow-y: scroll;
}

input[type=number] {
    width: 50px;
}

#map {
    position: absolute; top: 80px; bottom: 0px; left: 0px; right: 0px;
}

.timeseries_chart {
    width: 100%;
    height: 200px;
}

#render_canvas {
    width: 80%;
    height: 80%;
    touch-action: none;
}